.row
  .twelve.columns
    %h3
      Apply for Grant: #{@grant.name}
    %h4
      Application Information
.row
  .twelve.columns
    %p
      Here's more information we need from you to apply for this grant.
    = form_tag grant_application_path(@grant, @grant_application), :method => :put do
      = hidden_field_tag "grant_application_page", "page_1"
      %p
        Type of submission
        = label_tag "grant_application[data][submission_type][preapplication]" do
          = radio_button_tag "grant_application[data][submission_type]", "preapplication"
          Preapplication
        = label_tag "grant_application[data][submission_type][application]" do
          = radio_button_tag "grant_application[data][submission_type]", "application"
          Application
        = label_tag "grant_application[data][submission_type][changed]" do
          = radio_button_tag "grant_application[data][submission_type]", "changed"
          Changed/corrected application
      %p
        Type of application
        = label_tag "grant_application[data][application_type][new]" do
          = radio_button_tag "grant_application[data][application_type]", "new"
          New
        = label_tag "grant_application[data][application_type][continuation]" do
          = radio_button_tag "grant_application[data][application_type]", "continuation"
          Continuation
        = label_tag "grant_application[data][application_type][revision]" do
          = radio_button_tag "grant_application[data][application_type]", "revision"
          Revision
      %p
        = label_tag "Applicant identifier"
        = text_field_tag "grant_application[data][applicant_identifier]"
      %p
        = label_tag "Federal Entity Identifier"
        = text_field_tag "grant_application[data][federal_entity_identifier]"
      %p
        = label_tag "Federal Award Identifier"
        = text_field_tag "grant_application[data][federal_award_identifier]"
      = submit_tag "Submit"