.twelve.columns
  .row
    %h3 
      All Grants
  .row
    %h4
      Search
  .row
    = search_form_for @q do |f|
      = f.label :name_cont
      = f.text_field :name_cont
      = f.label :description_cont
      = f.text_field :description_cont
      = f.submit
  .row
    = will_paginate(@grants)
  .row
    - if @grants.any?
      %table.twelve
        %thead
          %tr
            %th
              Grant name
            %th
              Grant description
            %th
              Actions
        %tbody
          = render @grants
    - else
      %p
        No grants found.
  .row
    = will_paginate
