.row
  .twelve.columns
    %h3 
      All Grants
.row
  .twelve.columns
    %h4
      Search
.row
  = search_form_for @q do |f|
    .four.columns
      = f.label :name_cont
      = f.text_field :name_cont
    .four.columns
      = f.label :description_cont
      = f.text_field :description_cont
    .four.columns{:style => 'padding-top: 20px;'}
      = f.submit
.row
  .twelve.columns
    = will_paginate(@grants)
.row
  - if @grants.any?
    .twelve.columns
      %table.twelve
        %thead
          %tr
            %th
              Grant name
            %th
              Grant description
            %th
              Actions
        %tbody
          = render @grants
  - else
    .twelve.columns
      %p
        No grants found.
.row
  .twelve.columns
    = will_paginate