%p
  = form.label :name
  = form.text_field :name
%p
  = form.label :ein
  = form.text_field :ein
%p
  = form.label :duns
  = form.text_field :ein
%p
  = form.label :address
  = form.text_field :address
%p
  = form.label :address2
  = form.text_field :address2
%p
  = form.label :city
  = form.text_field :city
%p
  = form.label :province
  = form.text_field :province
%p
  = form.label :state
  = form.text_field :state
%p
  = form.label :zip
  = form.text_field :zip
%p
  = form.label :department_name
  = form.text_field :department_name
%p
  = form.label :division_name
  = form.text_field :division_name