!!!
%html
  %head
    %title GrantED
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %ul.nav-bar
      %li.active
        = link_to 'GrantED', root_path
      - if current_user
        %li{:style => 'float: right;'}
          = link_to "Sign out", sign_out_path
        %li.has-flyout{:style => 'float: right;'}
          %a{:href => "#"}
            Options
          %a.flyout-toggle{:href => "#"}
            %span
          %ul.flyout
            %li
              = link_to 'Organizations', organizations_path
      - else
        %li{:style => 'float: right;'}
          = link_to "Connect your MyGov account", "/users/auth/mygov/"
    = yield